<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Future <%= title %> Site</p>
    <a href="/test4">Visit the Beta site</a>
    <p>Macc2 development:</p>
    <a href="https://obscure-tor-4138.herokuapp.com/">MACC2 prototype</a>
    
  </body>
</html>