<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> 's User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> users</h1>
    <p>Listing <%= title %> Users...</p>
  </body>
</html>