<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
    
    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/carousel.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
</head>
<!-- NAVBAR
================================================== -->
  <body style="">
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tae Yoon</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/romeNYwoodsvalley.jpg"  alt="First slide" 
                          style="height: 500px; width: 900px;display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tae the polyglot developer.</h1>
              <p>Polyglot programming -- development in multiple languages.</p>
              <p><a class="btn btn-large btn-primary" href="#">what languages does he code?</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/taeyoonWithJulia.jpg" alt="Second slide" style="height: 500px; width: 700px; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Family man</h1>
              <p>Awesome Dad.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/taeyoonAvatar.jpg" alt="Third slide" style="height: 500px; width: 700px; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Need for speed.</h1>
              <p>Car Enthusiast!</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="holder.js/140x140/text:ECMA script" alt="140x140" style="width: 140px; height: 140px;">
          <h2>Java script</h2>
          <p>Tae ueses Node.js,Jquery,Angular and more to build client and server applications.currently Tae is developing user configurable data binding and visualizaiton applications for Airfoce</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="holder.js/140x140/text:Java" alt="140x140" style="width: 140px; height: 140px;">
          <h2>JAVA</h2>
          <p>3 years of Deveopment of 3D and 2D redering engines with Java. Later I have built some UI app using JavaFX frame work.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="holder.js/140x140/text:C,C++" alt="140x140" style="width: 140px; height: 140px;">
          <h2>C/C++</h2>
          <p>More than 5 years of the experience as a virtual reality project leader using Uneral 3 Game engine and Gamebryo. Also, Tae was involved in HPCC (High-Performance Computing Cluster) development for 3 years. </p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Other languages: <span class="text-muted">very capable of...</span></h2>
          <p class="lead">HTML5,svg, SQL, NoSql( cyhper query from Neo4j ), python, ruby, scala, assembler, Objective C...etc</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/mostpopularcodinglanguages.jpg"  alt="500x500">          
        </div>
      </div>

      <hr class="featurette-divider">

      
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 TaeYoon, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/javascripts/jquery-1.9.0-min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/holder.js"></script>
  

</body></html>